span.red {
  color: red; }

span.green {
  color: green; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #830303; }

body {
  background-color: #830303;
  font-family: Garamond;
  margin: 0 auto; }

.main-container {
  width: 80%;
  min-height: 90vh;
  margin: 0 auto;
  background-color: #e4cfc5;
  border: solid #e4cfc5 1px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }

.bar-container {
  width: 90%;
  height: 50px;
  margin: 10px 5%;
  border: solid #830303 5px;
  overflow-x: hidden;
  background-color: #d1cece; }
  .bar-container.with-triangle {
    position: relative;
    top: -70px;
    background-color: transparent; }

.middle-indicator {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin: 0 calc(50% - 25px);
  z-index: 2; }
  .middle-indicator.top {
    border-top: 25px solid #830303; }
  .middle-indicator.bottom {
    border-bottom: 25px solid #830303;
    top: 40px; }

.moving-block {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: coral;
  left: -50px;
  animation: move 2s linear infinite;
  animation-play-state: paused; }

@keyframes move {
  0% {
    left: -50px; }
  100% {
    left: 100%; } }

.result-container {
  width: 90%;
  margin: 10px 5%;
  height: 100px;
  max-height: 200px;
  overflow: auto;
  border: solid #830303 5px;
  background-color: #d1cece; }

.cycles-container {
  border: solid #830303 5px;
  background-color: #d1cece;
  margin: 10px 5%;
  height: 25px;
  width: 25px; }
