span.red {
  color: red; }

span.green {
  color: green; }

body {
  background-color: #be0000; }

.main-container {
  width: 80%;
  min-height: 90vh;
  margin: 0 auto;
  background-color: #606060;
  padding-top: 15px; }

.bar-container {
  width: 90%;
  height: 50px;
  margin: 10px 5%;
  border: solid #be0000 5px;
  overflow-x: hidden; }
  .bar-container.with-triangle {
    position: relative;
    top: -70px; }

.middle-indicator {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  margin: 0 calc(50% - 25px);
  z-index: 2; }
  .middle-indicator.top {
    border-top: 25px solid #be0000; }
  .middle-indicator.bottom {
    border-bottom: 25px solid #be0000;
    top: 40px; }

.moving-block {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: coral;
  left: -50px;
  animation: move 2s linear infinite;
  animation-play-state: paused; }

@keyframes move {
  0% {
    left: -50px; }
  100% {
    left: 100%; } }

.result-container {
  width: 90%;
  margin: 10px 5%;
  height: 100px;
  max-height: 200px;
  overflow: auto;
  border: solid #be0000 5px;
  background-color: white; }

.cycles-container {
  border: solid #be0000 5px;
  margin: 10px 5%;
  height: 25px;
  width: 25px; }
