$primary-color: #830303;
$secondary-color: #e4cfc5;
$tertiary-color: coral;
$white: #d1cece;

h1, h2, h3, h4, h5, h6{
  text-align: center;
  color: $primary-color;
}
body{
  background-color: $primary-color;
  font-family: Garamond;
  margin: 0 auto;
}
.main-container{
  width: 80%;
  min-height: 90vh;
  margin: 0 auto;
  background-color: $secondary-color;
  border: solid $secondary-color 1px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
}
.bar-container{
  width: 90%;
  height: 50px;
  margin: 100px 5% 0 5%;
  border: solid $primary-color 5px;
  overflow-x: hidden;
  background-color: $white;

  &.with-triangle{
    position: relative;
    margin-top:0;
    top: -60px;
    background-color: transparent;
  }
}
.middle-indicator{
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent; 
  border-right: 25px solid transparent;
  margin: 0 calc(50% - 25px);
  z-index:2;

  &.top{
    border-top: 25px solid $primary-color;
  }

  &.bottom{
    border-bottom: 25px solid $primary-color;
    top:40px;
  }
}
.moving-block{
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: $tertiary-color;
  left: -50px;
  animation: move 2s linear infinite;
  animation-play-state:paused;
}
@keyframes move {
    0%   {left:-50px;}
    100% {left: 100%;}
} 
.instruction-container{
  position: absolute;
  bottom: 0;
}